.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  margin-top: 10%;
  border: none;
  width: 55%;
  height: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qr-code {
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.main-title {
  font-family: Outfit, sans-serif;
  font-size: 25px;
  font-weight: 900;
  color:hsl(218, 44%, 22%);
  /* width: 100%;
  height: auto; */
}

.sub-tittle {
  font-family: Outfit, sans-serif;
  width: 75%;
  color:hsl(220, 15%, 55%);
}